$black:                 #000;
$white:                 #fff;
$blue:                  #58A5FF;
$blue-light:            #4A90E2;
$gray-dark:             rgba(16,16,16, 0.76);
$gray:                  rgba(38,38,38, 0.73);
$gray-light:            #7B7B7B;
$gray-lighter:          #AFAFAF;


$secundary-color:       $black;
$primary-color:         $white;
$main-title-color:      $blue;
$add-color:             $blue-light;

