$blue:                  #58A5FF;
$blue-light:            #4A90E2;
$gray-dark:             rgba(16,16,16, 0.76);
$gray:                  rgba(38,38,38, 0.73);
$gray-light:            #7B7B7B;
$gray-lighter:          #AFAFAF;
$yellow:                #FFCC00;


$secundary-color:       black;
$primary-color:         white;
$main-title-color:      $blue;
$add-color:             $blue-light;
$favorite-color:        $yellow;
$gray-over:             rgba(52,52,52,0.83);
