.button-add {
  color: $primary-color;
  @include font-size(13px);
  background-color: $add-color;
  padding: 0.5714em 2em;
  border-radius: $border-radius-small;
  vertical-align: middle;
  &--position {
    position: absolute;
    top: 20px;
    right: 30px;
    @media ( max-width: 585px) {
      position: relative;
      top: 0;
      right: 0;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
  &:hover {
    transition: 0.5s;
    background-color: $main-title-color;
  }
}

.icon-star--position {
  position: relative;
  top: -2px;
}

.icon-menu {
  transition: 0.3s;
  &:hover {
    color: $main-title-color;
  }
}