.movie-info {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 20%;
  right: 0;
  text-align: center;
  overflow: auto;
  padding: 2.1428em; 
  &__video {
    margin-bottom: 30px;
    width: 60%;
    height: 26vw;
    min-width: 320px;
    min-height: 210px;
  }
  @media ( max-width: 870px) {
    left: 0;
  }
}
.movie-description {
  display: inline-block;
  background-color: $gray-dark;
  border-radius: $border-radius;
  padding: 2.1428em;
  text-align: left;
  position: relative;
  &__title {
    color: $main-title-color;
    font-weight: 300;
    @include font-size(20px);
  }
  &__legend {
    @include font-size(14px);
    color: $gray-lighter;
    font-weight: 300;
    line-height: 1.6;
  }
}

.similar-movies {
  &__title {
    color: $main-title-color;
    font-weight: 300;
    @include font-size(16px); 
  }
}

.similar-movie {
  display: inline-block;
  margin-bottom: 30px;
  &__image {
    display: inline-block;
    vertical-align: middle;
  }
  &__container {
    display: inline-block;
  }
  &__title {
    color: $primary-color;
    font-weight: 300;
    @include font-size(14px); 
    margin: 0 0 5px;
  }
  &__info {
    color: $gray-light;
    font-weight: 300;
    @include font-size(12px); 
  }
}







