.movie-info {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 15%;
  right: 0;
  text-align: center;
  overflow: auto;
  padding: 2.1428em; 
  &::-webkit-scrollbar { 
    width: 8px; 
    background-color: $gray; 
  }
  &::-webkit-scrollbar-thumb { 
    border-radius: $border-radius-small;
    background-color: $secundary-color; 
  }
  &__video {
    margin-bottom: 30px;
    width: 50%;
    height: 26vw;
    min-width: 320px;
    min-height: 210px;
  }
  @media ( max-width: 870px) {
    left: 0;
  }
}
.movie-description {
  display: inline-block;
  background-color: $gray-dark;
  border-radius: $border-radius;
  padding: 2.1428em;
  text-align: left;
  position: relative;
  &__title {
    color: $main-title-color;
    font-weight: 300;
    @include font-size(20px);
  }
  &__legend {
    @include font-size(14px);
    color: $gray-lighter;
    font-weight: 300;
    line-height: 1.6;
  }
}

.similar-movies {
  &__title {
    color: $main-title-color;
    font-weight: 300;
    @include font-size(16px); 
  }
}

.similar-movie {
  display: inline-block;
  margin-bottom: 30px;
  width: 240px;
  @media ( max-width: 480px) {
    width: 210px;
  }
  &__image {
    display: inline-block;
    vertical-align: top;
    max-width: 75px;
  }
  &__container {
    display: inline-block;
    vertical-align: top;
  }
  &__title {
    color: $primary-color;
    font-weight: 300;
    @include font-size(14px); 
    margin: 0 0 5px;
    max-width: 120px;
  }
  &__info {
    color: $gray-light;
    font-weight: 300;
    @include font-size(12px); 
  }
}







